@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlexMediumItalic.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlexMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlex-Medium.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlex-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlexLightItalic.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlexLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlex-Regular.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlex-Ultralight.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlex-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlexUltralightItalic.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlexUltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlex-Bold.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlex-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlexBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlexBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlex-Light.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlex-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('./assets/fonts/EuclidFlexItalic.woff2') format('woff2'),
        url('./assets/fonts/EuclidFlexItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

