@import 'air-datepicker/air-datepicker.css';
.air-datepicker{
  --adp-width: 260px;
  --adp-cell-background-color-selected: #fbbc05;
  --adp-cell-background-color-selected-hover: #f6d269;
  --adp-color-current-date: #ff9a19;
  --adp-background-color-in-range: #f6d269;
  --adp-cell-background-color-in-range: rgba(246, 210, 105, 0.19);
  --adp-cell-background-color-in-range-hover: rgba(241, 191, 46, 0.45);
  --adp-btn-color: #ff9a19;

  .air-datepicker-buttons {
    grid-column-gap: 5px;
  }
  &-button {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 450;
  }
}

