@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Euclid Flex', sans-serif;
    src: local('Euclid Flex'), url(./assets/fonts/EuclidCircularA-Medium.otf) format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Euclid Flex', sans-serif;
}

img {
    image-rendering: auto;
}